*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:black;
}

/*******  M   E  N   U  ********/

.contenedor-header
{
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    position: fixed;
}

.titulo
{
    width: 30%;
    height: 80px;
    background-color:rgba(85, 76, 76, 0.363);
    float: left;
}

.tit
{
    font-family: cursive;
    font-size: 40px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
 }

.menu
{
    width: 70%;
    height: 80px;
    background-color:rgba(85, 76, 76, 0.363);
    float: right;
}

.menu a
{
    text-decoration: none;
    padding: 20px;
    color: white;
}

.menu a:hover
{
    color: cyan;
}


.ul-cont
{
    display: flex;
    justify-content: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    list-style: none;
    margin-top: 25px;

}

/* ******************************* */

.banner
{
    position: absolute;
    width: 35%;
    height: 200px;
    background-color:rgb(0, 0, 0, 0.1);
    margin-top: 470px;
    margin-left: 25%;
}

.h2banner
{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
    padding: 0;
}

.parra
{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
    padding: 0;
}

.contenedor-global
{    
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 800px 300px 400px 150px;
    grid-template-areas: 
    "imaprin imaprin imaprin imaprin imaprin"
    "zapa1 zapa2 zapa3 zapa4 zapa5"
    "iframe iframe iframe iframe iframe"
    "foot foot foot foot foot"  
    ;
}

.aaa
{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.bbb
{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}


.imafo
{
    width: 700px;
    height: 650px;
}

.ima
{
    width: 140px;
    height: 110px;
}


.imafondo
{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 800px;
    margin-top: 50px;
    padding-right: 40px;
    grid-area: imaprin;    
}

.cont-foot
{
    width: 100%;
    height: 150px;
    grid-area: foot;
}

.uno
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 300px;
    border: solid black 5px;
    margin: 2px;
    grid-area: zapa1;    
}

.dos
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 300px;
    border: solid black 5px;
    margin: 2px;
    grid-area: zapa2;
}

.tres
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 300px;
    border: solid black 5px;
    margin: 2px;
    grid-area: zapa3;
}

.cuatro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 300px;
    border: solid black 5px;
    margin: 2px;
    grid-area: zapa4;
}

.cinco
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 300px;
    border: solid black 5px;
    margin: 2px;
    grid-area: zapa5;
}


.vid
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    grid-area: iframe;
}

.video
{
    width: 100%;
    height: 400px;
}


.cont-foot
{    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px;
    grid-template-areas: 
    "compania telefono social"
    ;
}

.compa
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    width: 100%;
    height: 150px;
    border: solid black 5px;
    margin: 2px;
    grid-area: compania;    
}

.tele
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color:black;
    color: white;
    width: 100%;
    height: 150px;
    border: solid black 5px;
    margin: 2px;
    grid-area: telefono;
}

.sociales
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    width: 100%;
    height: 150px;
    border: solid black 5px;
    margin: 2px;
    grid-area: social;
}

.ccc
{
    font-size: 22px;
    color: white;
    padding: 10px;    
}

#menu-bar
{
    display: none;
}

.btn-menu
{
    display: none;
}

/*********************************
*********************************
*********************************
********************************
********************************/


@media (max-width:768px)
{

    .contenedor-header
    {
        top: 0;
        left: 0;
        padding: 0;  
        width: 100%;
        height: 80px;
        position: fixed;
    }

    .titulo
    {
        width: 100%;
        height: 80px;
        text-align: center;
        background-color:black;        
    }

    .tit
    {
        font-family: cursive;
        font-size: 40px;
        color: white;
    }    

    
    .menu
    {           
        width: 100%;
        height: 250px;                
        background-color: black;
        float: left;
        margin-left: 0;
        text-align: center; 
        transition: all 0.5s;
        transform: translateX(-100%);
    }

    .menu a
    {
        font-size: 32px;
        
    }


    .ul-cont
    {
        display: flex;        
        flex-direction: column;         
    }

    .banner
    {
        position: absolute;
        width: 22%;
        height: 330px;
        background-color:black;
        margin-top: 50px;
        margin-left: 10%;
    }

    .h2banner
    {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    
    .parra
    {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    
    .contenedor-global
    {    
        margin-top: 320px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 380px repeat(6, 400px) 300px;
        grid-template-areas: 
        "imaprin"
        "zapa1"
        "zapa2"
        "zapa3"
        "zapa4"
        "zapa5"
        "iframe"
        "foot"  
        ;
    }
    
    .aaa
    {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .bbb
    {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    
    .imafo
    {
        width: 100%;
        height: 350px;
    }
    
    .ima
    {
        width: 140px;
        height: 100px;
    }
    
    .imafondo
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 340px;
        margin-top: 50px;
        grid-area: imaprin; 
        background-color:black;
        padding-left: 30%;
    }
    
    .cont-foot
    {
        width: 100%;
        height: 150px;
        grid-area: foot;
    }
    
    .uno
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:white;
        width: 100%;
        height: 400px;
        border: solid black 5px;
        margin: 2px;
        grid-area: zapa1;    
    }
    
    .dos
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 400px;
        border: solid black 5px;
        margin: 2px;
        grid-area: zapa2;
    }
    
    .tres
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 400px;
        border: solid black 5px;
        margin: 2px;
        grid-area: zapa3;
    }
    
    .cuatro
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 400px;
        border: solid black 5px;
        margin: 2px;
        grid-area: zapa4;
    }
    
    .cinco
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:white;
        width: 100%;
        height: 400px;
        border: solid black 5px;
        margin: 2px;
        grid-area: zapa5;
    }
    
    
    .vid
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        grid-area: iframe;
    }
    
    .video
    {
        width: 100%;
        height: 400px;
    }
    
    
    .cont-foot
    {    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 100px);
        grid-template-areas: 
        "compania"
        "telefono"
        "social"
        ;
    }
    
    .compa
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:black;
        color: white;
        width: 100%;
        height: 100px;
        border: solid black 5px;
        margin: 2px;
        grid-area: compania;    
    }
    
    .tele
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        background-color:black;
        color: white;
        width: 100%;
        height: 100px;
        border: solid black 5px;
        margin: 2px;
        grid-area: telefono;
    }
    
    .sociales
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:black;
        color: white;
        width: 100%;
        height: 100px;
        border: solid black 5px;
        margin: 2px;
        grid-area: social;
    }
    
    .ccc
    {
        font-size: 22px;
        color: white;
        padding: 10px;    
    }

    
    #menu-bar
    {
        display: none;
        float: left;
    }

    .btn-menu
    {
        display: block;
        background-color: white;
        width: 35px;
    }

    .imgico
    {
        width: 35px;
        height: 35px;
    }

    #menu-bar:checked ~ .menu
    {
        transform: translateX(0%);
    }
}