*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:black;
}

/*******  M   E  N   U  ********/

.contenedor-header
{
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    position: fixed;
}

.titulo
{
    width: 30%;
    height: 80px;
    background-color:rgba(85, 76, 76, 0.363);
    float: left;
}

.tit
{
    font-family: cursive;
    font-size: 40px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
 }

.menu
{
    width: 70%;
    height: 80px;
    background-color:rgba(85, 76, 76, 0.363);
    float: right;
}

.menu a
{
    text-decoration: none;
    padding: 20px;
    color: white;
}

.menu a:hover
{
    color: cyan;
}

.ul-cont
{
    display: flex;
    justify-content: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    list-style: none;
    margin-top: 25px;

}

/* ******************************* */

.banner
{
    position: absolute;
    width: 35%;
    height: 200px;
    background-color:black;
    margin-top: 470px;
    margin-left: 25%;
}

.h2banner
{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.parra
{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.contenedor-global
{    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 800px 500px 150px;
    grid-template-areas: 
    "imaprin imaprin imaprin"
    "xcontx xcontx xcontx"
    "foot foot foot"  
    ;
}

.bbb
{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.imafo
{
    width: 700px;
    height: 650px;
}

.imafondo
{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 800px;
    margin-top: 50px;
    padding-right: 40px;
    grid-area: imaprin;    
}

.cont-foot
{
    width: 100%;
    height: 150px;
    grid-area: foot;
}

.xcont
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    grid-area: xcontx;
    color: white;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.contacte
{
    font-size: 24px;
}

.xconti
{     
    margin-top: 20px;
    width: 167px;
}
    
.xmsgi
{
    margin-top: 20px;
    width: 314px;    
}

.xenviar
{
    margin-top: 10px;
    width: 70px;
    height: 25px;
    background-color: aqua;                
}

.xbutton-enviar
{
    font-size: 18px;
}

.cont-foot
{    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 150px;
    grid-template-areas: 
    "compania telefono social"
    ;
}

.compa
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    width: 100%;
    height: 150px;
    border: solid black 5px;
    margin: 2px;
    grid-area: compania;    
}

.tele
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color:black;
    color: white;
    width: 100%;
    height: 150px;
    border: solid black 5px;
    margin: 2px;
    grid-area: telefono;
}

.sociales
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:black;
    color: white;
    width: 100%;
    height: 150px;
    border: solid black 5px;
    margin: 2px;
    grid-area: social;
}

.ccc
{
    font-size: 22px;
    color: white;
    padding: 10px;    
}

#menu-bar
{
    display: none;
}

.btn-menu
{
    display: none;
}


/*********************************
*********************************
*********************************
********************************
********************************/


@media (max-width:768px)
{
    .contenedor-header
    {
        top: 0;
        left: 0;
        padding: 0;  
        width: 100%;
        height: 80px;
        position: fixed;
    }

    .titulo
    {
        width: 100%;
        height: 80px;
        text-align: center;
        background-color:black;        
    }

    .tit
    {
        font-family: cursive;
        font-size: 40px;
        color: white;
    }    
    
    .menu
    {           
        width: 100%;
        height: 250px;                
        background-color: black;
        float: left;
        margin-left: 0;
        text-align: center; 
        transition: all 0.5s;
        transform: translateX(-100%);
    }

    .menu a
    {
        font-size: 32px;
        
    }

    .ul-cont
    {
        display: flex;        
        flex-direction: column;         
    }

    .banner
    {
        position: absolute;
        width: 20%;
        height: 240px;
        background-color:black;
        margin-top: 90px;
        margin-left: 10%;
    }

    .h2banner
    {
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    
    .parra
    {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }
    
    .contenedor-global
    {    
        margin-top: 320px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 380px 500px 300px;
        grid-template-areas: 
        "imaprin"
        "xcontx"
        "foot"  
        ;
    }
 
    .bbb
    {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
    }    
    
    .imafo
    {
        width: 100%;
        height: 350px;
    }    
    
    .imafondo
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 340px;
        margin-top: 50px;
        grid-area: imaprin; 
        background-color:black;
        padding-left: 30%;
    }
    
    .cont-foot
    {
        width: 100%;
        height: 150px;
        grid-area: foot;
    }
    
    .xcont
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        grid-area: xcontx;
        color: white;
        border-top: solid white 1px;
        border-bottom: solid white 1px;
    }

    .contacte
    {
        font-size: 24px;
    }

    .xconti
    {     
        margin-top: 20px;
        width: 167px;
    }
    
    .xmsgi
    {
        margin-top: 20px;
        width: 314px;    
    }

    .xenviar
    {
        margin-top: 10px;
        width: 70px;
        height: 25px;
        background-color: aqua;                
    }

    .xbutton-enviar
    {
        font-size: 18px;
    }

    .cont-foot
    {    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 100px);
        grid-template-areas: 
        "compania"
        "telefono"
        "social"
        ;
    }
    
    .compa
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:black;
        color: white;
        width: 100%;
        height: 100px;
        border: solid black 5px;
        margin: 2px;
        grid-area: compania;    
    }
    
    .tele
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        background-color:black;
        color: white;
        width: 100%;
        height: 100px;
        border: solid black 5px;
        margin: 2px;
        grid-area: telefono;
    }
    
    .sociales
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:black;
        color: white;
        width: 100%;
        height: 100px;
        border: solid black 5px;
        margin: 2px;
        grid-area: social;    
    }
    
    .ccc
    {
        font-size: 22px;
        color: white;
        padding: 10px;    
    }
    
    #menu-bar
    {
        display: none;
        float: left;
    }

    .btn-menu
    {
        display: block;
        background-color: white;
        width: 35px;
    }

    .imgico
    {
        width: 35px;
        height: 35px;
    }

    #menu-bar:checked ~ .menu
    {
        transform: translateX(0%);
    }

}